<div>
<nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, #152a47, #152a47, #2a5ba0, #2a5ba0, #152a47,#152a47);">
    <h5 class="nav-item" style="color:white;"> Logged in as {{ session.data.authenticated.user.displayName }}</h5>
    
  <div class="navbar-brand mx-auto">{{logo}}</div>
  

      {{#if session.isAuthenticated}}
      
       <span class="nav-item nav-link"> 
       
          {{#each model as |user|}}
        
            <h5 style="color: white;">Funds: ${{user.fund}}</h5>
  
          {{/each}}
      </span>

    
  


      {{else}}
           <span class="nav-item nav-link">  <button class = "btn btn-primary" {{action "login"}}>Sign in with Google</button> </span>
      {{/if}}


</nav>
</div>
<div class="sidenav">
   {{#if session.isAuthenticated}}

   <BsDropdown as |dd|>
  <dd.toggle>NFL <span class="caret"></span></dd.toggle>
  <dd.menu as |ddm|>
    <ddm.item>
      <ddm.linkTo @route="scores">Games</ddm.linkTo>
    </ddm.item>
    <ddm.item>
      <ddm.linkTo @route="nflstandings">Standings</ddm.linkTo>
    </ddm.item>

      <ddm.item>
      <ddm.linkTo @route="nflnews">News</ddm.linkTo>
    </ddm.item>
  </dd.menu>
</BsDropdown>

 <BsDropdown as |dd|>
  <dd.toggle>NBA <span class="caret"></span></dd.toggle>
  <dd.menu as |ddm|>
    <ddm.item>
      <ddm.linkTo @route="nba">Games</ddm.linkTo>
    </ddm.item>
    <ddm.item>
      <ddm.linkTo @route="nbastandings">Standings</ddm.linkTo>
    </ddm.item>

      <ddm.item>
      <ddm.linkTo @route="nbanews">News</ddm.linkTo>
    </ddm.item>
  </dd.menu>
</BsDropdown>

      <span class="nav-item nav-link"> <LinkTo @route = "application">Home</LinkTo><span class="sr-only">(current)</span></span>
      <span class="nav-item nav-link"> <LinkTo @route = "scores">NFL</LinkTo></span> 
       <span class="nav-item nav-link"> <LinkTo @route = "nba">NBA</LinkTo></span>
      <span class="nav-item nav-link"> <LinkTo @route = "bets">Bets</LinkTo></span>
      <span class="nav-item nav-link"> <LinkTo @route = "funds">Deposit</LinkTo></span>
    <div class="nav-item text-center mr-4"> <button class="mx-auto" {{action "logout"}}>Sign out</button> </div>
    {{/if}}
</div>

{{outlet}}

