<div class="pagenavs">
<nav class="navbar w-100" style="background: linear-gradient(to right, #152a47, #152a47, #2a5ba0, #2a5ba0, #152a47,#152a47);">

    <h5 class="nav-item" style="color:white;"> Logged in as {{ session.data.authenticated.user.displayName }}</h5>
    
  <div class="navbar-brand mx-auto">{{logo}}</div>
  

      {{#if session.isAuthenticated}}
      
       <span class="nav-item nav-link"> 
       
          {{#each model as |user|}}
        
            <h5 style="color: white;">Funds: ${{user.fund}}</h5>
  
          {{/each}}
      </span>

    
  


      {{else}}
           <span class="nav-item nav-link">  <button class = "btn btn-primary" {{action "login"}}>Sign in with Google</button> </span>
      {{/if}}


  <div class="navbar linknavs">
   {{#if session.isAuthenticated}}

    
      <span class="nav-item nav-link"> <LinkTo @route = "application"> <span style="color:white;"> Home</span></LinkTo><span class="sr-only">(current)</span></span>
         <BsDropdown as |dd|>
          <dd.toggle> <span style="color:white;"> NFL</span> <span class="caret"></span></dd.toggle>
          <dd.menu as |ddm|>
            <ddm.item>
              <ddm.linkTo @route="scores">Games</ddm.linkTo>
            </ddm.item>
            <ddm.item>
              <ddm.linkTo @route="nflstandings">Standings</ddm.linkTo>
            </ddm.item>

              <ddm.item>
              <ddm.linkTo @route="nflnews">News</ddm.linkTo>
            </ddm.item>
          </dd.menu>
        </BsDropdown>

        <BsDropdown as |dd|>
          <dd.toggle> <span style="color:white;"> NBA</span> <span class="caret"></span></dd.toggle>
          <dd.menu as |ddm|>
            <ddm.item>
              <ddm.linkTo @route="nba">Games</ddm.linkTo>
            </ddm.item>

              <ddm.item>
              <ddm.linkTo @route="nbahighlights">Highlights</ddm.linkTo>
            </ddm.item>
            <ddm.item>
              <ddm.linkTo @route="nbastandings">Standings</ddm.linkTo>
            </ddm.item>

              <ddm.item>
              <ddm.linkTo @route="nbanews">News</ddm.linkTo>
            </ddm.item>
          </dd.menu>
        </BsDropdown>

          <BsDropdown as |dd|>
          <dd.toggle> <span style="color:white;"> NHL</span> <span class="caret"></span></dd.toggle>
          <dd.menu as |ddm|>
            <ddm.item>
              <ddm.linkTo @route="nhl">Games</ddm.linkTo>
            </ddm.item>

                 <ddm.item>
              <ddm.linkTo @route="nhlhighlights">Highlights</ddm.linkTo>
            </ddm.item>

          </dd.menu>
        </BsDropdown>

      <span class="nav-item nav-link"> <LinkTo @route = "bets"> <span style="color:white;"> Bets</span></LinkTo></span>
      <span class="nav-item nav-link"> <LinkTo @route = "funds"> <span style="color:white;"> Deposit</span></LinkTo></span>
    <div class="nav-item text-center mr-4"> <button class="mx-auto" {{action "logout"}}>Sign out</button> </div>
    {{/if}}
</div>

</nav>

</div>
<div class="container">
  
{{outlet}}
</div>