


<div class="mission-statement" style="display:flex;">
<div>
  <h3>Welcome to SportsHub!</h3>
  <p class="intro righteous">We are an up-and-coming sports betting application that is aiming to bring you an experience that is yet to be seen. 
    Our goal is to bring you the opportunity of doing research on your favorite teams and place various wagers on them all in one place. To get started please log in
    to your Google account located at the top of the page. If you are a new user we have a very special offer going on, click the promo to find out more details. 
    <b>So do your research, place your bets and most importantly please gamble responsibly. </b></p>
</div>
{{#if session.isAuthenticated}}
<span class="card mb-5 ml-5 text-center" style="width:23em;">
  <div class="card-body sports-background w-25">
    <h4 class="w-50 mx-auto" style="color:black; background-color:rgb(255, 255, 255,0.6); border-radius: 10px;">NEW USERS PROMO</h4>
  <button class="questrial promo-button"{{action "showPromo"}}>See Details</button>
  </div>
</span>
{{/if}}
</div>




   



{{#if this.clicked}}
<BsModal class="promomodal" @onSubmit={{action "activateNewUserPromo"}} @onHide={{action "cancel"}} as |Modal|>
  <Modal.header>
    <h4 class="modal-title"><i class="glyphicon glyphicon-alert "></i> New Users ONLY</h4>
  </Modal.header>
  <Modal.body>
       <img src="https://user-images.githubusercontent.com/43256526/69489711-6c37bd00-0e31-11ea-8471-419380b9af9e.png" alt="" height = "400" width="470">
       <b>Make Your First Deposit Over $200 and we will gift you $100!</b> 
  </Modal.body>
  <Modal.footer as |footer|>
    <BsButton class="cancel" @onClick={{action Modal.close}} @type="danger">Cancel</BsButton>
    <BsButton class="opt-in" @onClick={{action Modal.submit}} @type="success">OPT IN</BsButton>
  </Modal.footer>
</BsModal>
{{/if}}

{{outlet}}