<div class="jumbotron jumbotron-fluid mx-auto text-center mt-5">
  <div class="container">
    <h1 class="display-4"> Home Pagee
    </h1>
  </div>


     <div class="card mt-5 mb-5" style="width: 23rem;">
      <div class="card-body">
        <h4>NEW USERS PROMO</h4>
      <button {{action "showPromo"}}>See Details</button>
      </div>
    </div>


{{#if this.clicked}}
<BsModal @onSubmit={{action "activateNewUserPromo"}} @onHide={{action "cancel"}} as |Modal|>
  <Modal.header>
    <h4 class="modal-title"><i class="glyphicon glyphicon-alert "></i> New Users ONLY</h4>
  </Modal.header>
  <Modal.body>
       <img src="https://user-images.githubusercontent.com/43256526/69483464-8c895c80-0ddc-11ea-8738-62614ba08305.jpg" alt="" height = "400" width="470">
       <b>Make Your First Deposit Over $200 and we will gift you $100!</b> 
  </Modal.body>
  <Modal.footer as |footer|>
    <BsButton @onClick={{action Modal.close}} @type="danger">Cancel</BsButton>
    <BsButton @onClick={{action Modal.submit}} @type="success">OPT IN</BsButton>
  </Modal.footer>
</BsModal>
{{/if}}
</div>
{{outlet}}