<div class="mt-4 w-75 mx-auto">
 <div class="text-center">

  <img src={{"https://user-images.githubusercontent.com/43256526/69570416-c8afef00-0f8d-11ea-95bf-f0ab4a16853a.png"}} alt="" height = "60" width = "100">
   <h2 class="league mt-3">2019 NFL Standings</h2>
 </div>
 </div>


<div class="mb-5 standings-border w-75 mx-auto">
  <div class="container text-center">
    <div class="row">

      <div class="col-6">
        <div class="AFC col-8 mt-5"><h2 class="conference">AFC</h2></div>
        <ul> 

          <h4 class="division-afc">EAST</h4>
          <br>
          <div class="">
            {{#each this.model as |team|}}
            {{#if team.IsAfcEast}}
              <li class="division"> <img src={{team.TeamLogo}} alt="" height = "25" width="30"> <b>{{team.Name}} </b>- <b> {{team.Wins}} - {{team.Losses}}</b></li>
              <br>
          
              {{/if}}
            
          {{/each}}
          </div>

          
        </ul>

        <ul>
          <h4 class="division-afc">WEST</h4>
          <br>
          <div class="">
            {{#each this.model as |team|}}
            {{#if team.IsAfcWest}}
              <li class="division"> <img src={{team.TeamLogo}} alt="" height = "25" width="30"> <b>{{team.Name}} </b>- <b> {{team.Wins}} - {{team.Losses}}</b></li>
              <br>
              {{/if}}
          {{/each}}
          </div>
        </ul>

        <ul>
          <h4 class="division-afc">NORTH</h4>
          <br>
          <div class="">
            {{#each this.model as |team|}}
            {{#if team.IsAfcNorth}}
              <li class="division"> <img src={{team.TeamLogo}} alt="" height = "25" width="30"> <b>{{team.Name}} </b>- <b> {{team.Wins}} - {{team.Losses}}</b></li>
              <br>
              {{/if}}
          {{/each}}
          </div>
        </ul>


        <ul>
          <h4 class="division-afc">SOUTH</h4>
          <br>
          <div class="">
            {{#each this.model as |team|}}
            {{#if team.IsAfcSouth}}
              <li class="division"> <img src={{team.TeamLogo}} alt="" height = "25" width="30"> <b>{{team.Name}} </b>- <b> {{team.Wins}} - {{team.Losses}}</b></li>
              <br>
              {{/if}}
          {{/each}}
          </div>
        </ul>

        </div>

        <div class="col-6">
          <div class="NFC col-8 mt-5"><h2 class="conference">NFC</h2></div>
          <ul>
          <h4 class="division-nfc" >EAST</h4>
          <br>
          <div class="mr-5">
            {{#each this.model as |team|}}
            {{#if team.IsNfcEast}}
              <li class="division"> <img src={{team.TeamLogo}} alt="" height = "25" width="30"> <b>{{team.Name}} </b>- <b> {{team.Wins}} - {{team.Losses}}</b></li>
              <br>
              {{/if}}
          {{/each}}
          </div>
        </ul>

        <ul>
          <h4 class="division-nfc" >WEST</h4>
          <br>
          <div class="mr-5">
            {{#each this.model as |team|}}
            {{#if team.IsNfcWest}}
              <li class="division"> <img src={{team.TeamLogo}} alt="" height = "25" width="30"> <b>{{team.Name}} </b>- <b> {{team.Wins}} - {{team.Losses}}</b></li>
              <br>
              {{/if}}
          {{/each}}
          </div>
        </ul>

        <ul>
          <h4 class="division-nfc" >NORTH</h4>
          <br>
          <div class="mr-5">
            {{#each this.model as |team|}}
            {{#if team.IsNfcNorth}}
              <li class="division"> <img src={{team.TeamLogo}} alt="" height = "25" width="30"> <b>{{team.Name}} </b>- <b> {{team.Wins}} - {{team.Losses}}</b></li>
              <br>
              {{/if}}
          {{/each}}
          </div>
        </ul>

        <ul>
          <h4 class="division-nfc" >SOUTH</h4>
          <br>
          <div class="mr-5">
            {{#each this.model as |team|}}
            {{#if team.IsNfcSouth}}
              <li class="division"> <img src={{team.TeamLogo}} alt="" height = "25" width="30"> <b>{{team.Name}} </b>- <b> {{team.Wins}} - {{team.Losses}}</b></li>
              <br>
              {{/if}}
          {{/each}}
          </div>
        </ul>





      </div>
    </div>
  </div>
</div>





{{outlet}}