   <div class="m-4">
   <div class="text-center">
        <h2 class="mx-auto">NHL News</h2>
   </div>
   </div>

   <div class="container">

   <ul>

    {{#each this.model as |news|}}
   <br>
   <div class="news mx-auto">
      <li> <h4 class="questrial"><b>{{news.Title}} </b></h4>

      <b class="sway-font">{{news.Content}} </b>
      <br>
    
      <a class="btn btn-primary mt-2 float-right" role="button" href={{news.Url}}>Source</a>

      </li>
      <br>
   </div>
  {{/each}}
</ul>
</div>
{{outlet}}


{{outlet}}