 
 <div class="mt-4">
 <div class="text-center">
 <h2>NHL Standings</h2>
 <h5>Season</h5>
 <h6>2019-20</h6>
   <img src={{"https://user-images.githubusercontent.com/43256526/69602246-e197bf00-0fe4-11ea-86a1-ed04c00b9a81.png"}} alt="" height = "60" width = "60">
 </div>
 </div>

<div class = "mt-5">
<div class="container text-center">
<div class="row">
  <div class="col-6">
 <ul>
 <h3>Eastern Conference</h3>
 <br>
  {{#each this.model as |team|}}
  
    {{#if team.IsEastern}}
      <li> <img src={{team.TeamLogo}} alt="" height = "25" width="30"> <b>{{team.City}} {{team.Name}}</b> <b> {{team.Wins}} - {{team.Losses}}</b></li>
      <br>
    {{/if}}
    
  {{/each}}
</ul>

</div>
  <div class="col-6">

    <ul>
 <h3>Western Conference</h3>
 <br>
  {{#each this.model as |team|}}
  
    {{#if team.IsWestern}}
      <li> <img src={{team.TeamLogo}} alt="" height = "25" width="30"> <b>{{team.City}} {{team.Name}}</b> <b> {{team.Wins}} - {{team.Losses}}</b></li>
    <br>
    {{/if}}
  {{/each}}
</ul>


  </div>
</div>
</div>
</div>

{{outlet}}