
<div class="appear" id="games">
<ul>
  <h3>Live Games</h3>
  {{#each this.model as |game|}}
    {{#if game.IsInProgress}}
      <li><b>{{game.Home}} </b>- <b>{{game.Away}}</b> - O/U: {{game.OverUnder}}</li>
      {{else}}
      
    {{/if}}
  {{/each}}
</ul>

<ul>
  <h3>Completed Games</h3>
  {{#each this.model as |game|}}
   {{#if game.IsOver}}
      <li> <b>{{game.Home}} </b> {{game.HomeScore}} - <b> {{game.Away}}</b> {{game.AwayScore}}</li>
    {{/if}}
  {{/each}}
</ul>


<ul>
  <h3>Up Coming</h3>
  {{#each this.model as |game|}}
   {{#unless game.IsOver}}
      <li> <b>{{game.Home}} </b> {{game.HomeScore}} - <b> {{game.Away}}</b> {{game.AwayScore}}     <button  {{action "moneyline" game.HomeTeamMoneyLine game.Home}}>{{game.Home}}                      {{game.HomeTeamMoneyLine}}</button> 
     <button {{action "moneyline" game.AwayTeamMoneyLine game.Away}}>{{game.Away}}                        {{game.AwayTeamMoneyLine}}</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>


  <ul>
 <li><LinkTo @route = "nflstandings">Standings</LinkTo></li>
 <li><LinkTo @route = "nflnews">News</LinkTo></li>
 </ul>
</div>

{{#if this.clicked}}
<BsModal @onSubmit={{action "placeBet" this.wager}} @onHide={{action "cancelBet"}} as |Modal|>
  <Modal.header>
    <h4 class="modal-title"><i class="glyphicon glyphicon-alert "></i> Place Bet</h4>
  </Modal.header>
  <Modal.body>
        <h6>Team: {{this.team}}</h6>
        <h6>Line: {{this.line}}</h6>
      {{input type="number" id="cardNumber" min="0.00"  step="1.00" class="form-control text-center" value=wager  placeholder="0.00" required=required}}
  </Modal.body>
  <Modal.footer as |footer|>
    <BsButton @onClick={{action Modal.close}} @type="danger">Cancel Bet</BsButton>
    <BsButton @onClick={{action Modal.submit}} @type="success">Place Bet</BsButton>
  </Modal.footer>
</BsModal>
{{/if}}




{{outlet}}



