<div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-4 text-center">
      <ul>
        <h3  class="headers">Live Games</h3>
        <br>
        {{#each this.model as |game|}}
          {{#if game.IsInProgress}}
          
            <div class="scoreboard">
            <li> 
                <div class="details">
                <span class="ml-4">
                  <img src={{game.HomeLogo}} class=""  alt="" height = "30" width="35">
                  <span class="home-team ">{{game.Home}}</span> 
                </span>
                <span class="ml-4">
                  <img src={{game.AwayLogo}}  class="ml-5" alt="" height = "30" width="35">
                  <span class="away-team">{{game.Away}}</span>
                </span>
                </div>
                  <span class="home-score float-left">{{game.HomeScore}}</span>
                  <span class="away-score float-right">{{game.AwayScore}}</span> 
              </li>
            </div>            
            {{else}}
            
          {{/if}}
          
        {{/each}}
      </ul>
      </div>

      <div class="col-4 text-center">
      <ul>
        <h3  class="headers">Completed Games</h3>
        <br>
        {{#each this.model as |game|}}
        {{#if game.IsOver}}
        <div class="scoreboard">
            <li> 
                <div class="details">
                <span class="ml-4">
                  <img src={{game.HomeLogo}} class=""  alt="" height = "30" width="35">
                  <span class="home-team ">{{game.Home}}</span> 
                </span>
                <span class="ml-4">
                  <img src={{game.AwayLogo}}  class="ml-5" alt="" height = "30" width="35">
                  <span class="away-team">{{game.Away}}</span>
                </span>
                </div>
                  <span class="home-score float-left">{{game.HomeScore}}</span>
                  <span class="away-score float-right">{{game.AwayScore}}</span> 
              </li>
            </div>
            <br>
          {{/if}}

        {{/each}}
      </ul>

      </div>

      <div class="col-4 text-center">

      <ul>
        <h3  class="headers">Up Coming Games</h3>
        <br>
        {{#each this.model as |game|}}
        {{#unless game.IsOver}}
        {{#unless game.IsInProgress}}
         <div class="scoreboard mb-5 upcoming-games">
            <li> 
                <div class="details">
                <span class="ml-4">
                  <img src={{game.HomeLogo}} class=""  alt="" height = "30" width="35">
                  <span class="home-team ">{{game.Home}}</span> 
                </span>
                <span class="ml-4">
                  <img src={{game.AwayLogo}}  class="ml-5" alt="" height = "30" width="35">
                  <span class="away-team">{{game.Away}}</span>
                </span>
                </div>
                  <button class="float-left home-line button-line"  {{action "moneyline" game.HomeTeamMoneyLine game.Home}}>{{#if game.positiveHomeOdds}}+{{/if}}{{game.HomeTeamMoneyLine}}</button>
                  <button class="float-right away-line button-line"  {{action "moneyline" game.AwayTeamMoneyLine game.Away}}>{{#if game.positiveAwayOdds}}+{{/if}}{{game.AwayTeamMoneyLine}}</button>
                  <span class="away-score float-right">{{game.AwayScore}}</span> 
              </li>
            </div>
            {{/unless}}
          {{/unless}}
        {{/each}}
      </ul>
      </div>


 </div>



{{#if this.clicked}}
<BsModal class="slip" @onSubmit={{action "placeBet" this.wager}} @onHide={{action "cancelBet"}} as |Modal|>
  <Modal.header>
    <h4 class="modal-title"><i class="glyphicon glyphicon-alert "></i> Place Bet</h4>
  </Modal.header>
  <Modal.body>
        <h6>Team: <img src={{this.picUrl}} alt="" height = "400" width="470" >{{this.team}}</h6>
        <h6>Line: {{this.symbol}}{{this.line}}</h6>
      {{input type="number" id="cardNumber" min="0.00"  step="1.00" class="form-control text-center bet-amount" value=wager  placeholder="0.00" required=required autocomplete="off"}}
  </Modal.body>
  <Modal.footer as |footer|>
    <BsButton @onClick={{action Modal.close}} @type="danger">Cancel Bet</BsButton>
    <BsButton @onClick={{action Modal.submit}} @type="success">Place Bet</BsButton>
  </Modal.footer>
</BsModal>
{{/if}}




{{outlet}}

</div>

